.taskItem {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: whitesmoke;
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;
}

.taskItem > p {
  flex: 1;
}

.taskItem--done {
  text-decoration: line-through;
}
